<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-script"></div>
<div th:replace="common :: common-head"></div>

<script type="text/javascript" src="../static/js/index.js"></script>

<body>

	<div th:replace="common :: common-nav"></div>

	<!-- コンテンツ -->
	<div class="container">

		<div class="content-box">
			<h2>タスク管理</h2>

			<hr>

			<form method="post" th:action="@{/task/insert}">
				<div class="input-group">
					<input type="text" class="form-control" name="title"
						placeholder="タスク内容"> <input type="date"
						class="form-control" name="limit"> <span
						class="input-group-btn">
						<button id="submit" type="submit" class="btn btn-warning">追加</button>
					</span>
				</div>
			</form>

			<hr>

			<table class="table table-light">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">タイトル</th>
						<th scope="col">期限日</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${taskEntity.taskList}">
						<td th:text="${task.count}">No</td>
						<td th:text="${task.title}">タイトル</td>
						<td th:text="${task.limitday}">2020/11/11</td>
						<td>
							<form method="post" th:action="@{/task/delete}">
								<input type="hidden" th:value="${task.id}" name="id" id="delete">
								<button type="submit" class="btn btn-danger">削除</button>
							</form>
						</td>
						<td>
							<form method="post" th:action="@{/task/complate}"
								th:if="${!task.isComplate}">
								<input type="hidden" th:value="${task.id}" name="id"
									id="complate">
								<button type="submit" class="btn btn-primary">完了</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

			<form method="post" th:action="@{/task/csv}">
				<button type="submit" class="btn btn-success btnx-lime">CSV出力</button>
			</form>

		</div>
	</div>
</body>
</html>