<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-script"></div>
<div th:replace="common :: common-head"></div>

<script type="text/javascript" src="../static/js/index.js"></script>

<body>
	<!-- コンテンツ -->
	<div class="container">
		<div class="content-box">
			<h2>ユーザ登録</h2>

			<div class="input-form">
				<form method="post" th:action="@{/signup/insert}" th:object="${signupForm}" class="needs-validation">

					<label for="userId">ユーザID(メールアドレス)</label>
					<div class="form-group input-box position-relative">
						<input type="text" class="form-control" name="userId" th:value="*{userId}" th:classappend="${#fields.hasErrors('userId')} ? 'is-invalid'">
						<div class="invalid-tooltip" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
					</div>

					<label for="password">パスワード</label>
					<div class="form-group input-box position-relative">
						<input type="password" class="form-control" name="password" th:value="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'">
						<div class="invalid-tooltip" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
					</div>

					<label for="username">ユーザ名</label>
					<div class="form-group input-box position-relative">
						<input type="text" class="form-control" name="username" th:value="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
						<div class="invalid-tooltip" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
					</div>

					<button type="submit" class="btn btn-success">登録</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>