<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:replace="common :: common-script"></div>
<div th:replace="common :: common-head"></div>

<script type="text/javascript" src="../static/js/index.js"></script>

<body>

	<div th:replace="common :: common-nav"></div>

	<!-- contents -->
	<div class="container">
		<div class="content-box">
			<h2>
				「<span th:text="${shopEntity.searchWord}"></span>」の検索結果
			</h2>

			<div th:each="shop : ${shopEntity.shops}">
				<table class="table table-light">
					<tr>
						<td><img class="shopimage" th:src="${shop.image}"><br>
						<a th:text="${shop.shopname}" th:href="${shop.url}"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>